@import url(fonts.css);

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}

html, body {
    height: 100%;
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

._container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1190px;
    margin: 0px auto;
}

/* -----Header------------------------------------- */

.wrapper {
    background: #F9FBFF;
    min-height: 100%;
    overflow: hidden;
}

.header {
    display: block;
}

.header__logo {
    position: absolute;
    left: 0%;
    top: 0%;
    padding-left: 5px;
}

.header__logo-link {
    height: 10px;
}

.header__logo, .header__cart {
    padding-top: 74px;
    z-index: 50;
}

.header__text {
    justify-self: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 130%;
    padding-left: 5px;
    z-index: 50;

    color: #415167;
}

.coffee__person {
    background: #C7A17A;
    color: #F9FBFF;
    padding: 5px 20px 5px 10px;
    margin-right: 100px;
}

.header__image {
    position: absolute;
    max-width: 757px;
    width: 757px;
    max-height: 947px;
    height: 947px;
    top: 0%;
    left: 18%;
}

.image__img {
    position: relative;
    width: 690px;
    height: 768px;
    z-index:40;
    opacity: 0.8;
}

.image__mask {
    position: absolute;
    max-width: 768px;
    width: 690px;
    height: 768px;
    top: 0%;
    left: 0%;
    background: #151D28;
    z-index: 0;
}

.image_button {
    position: relative;
}
.image__btn {
    display: none;
    position: relative;
    left: 42%;
    top: -450px;
    z-index: 48;
}

.menu__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #EDF0F5;
    padding: 50px 0;
}

.header__menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 768px;
    min-width: 300px;
    background: #415167;
    z-index: 49;
}

@media (min-width: 1200px) {
    .header__container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1240px;
        margin: 0px auto;
    }
}

@media (max-width: 1150px) {
    .image__img {
        width: 580px;
    }
    .image_mask {
        width: 580px;
    }

}

@media (max-width:1000px) {
    .image__img {
        width: 550px;
    }
    .image_mask {
        width: 550px;
    }
    .header__menu {
        /* position: sticky; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 240px;
        height: 768px;
        min-width: 250px;
        background: #415167;
        z-index: 49;
    }
}

@media (max-width:900px) {
    .image__img {
        width: 500px;
    }
    .image_mask {
        width: 500px;
    }
    .header__menu {
        /* position: sticky; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 768px;
        min-width: 220px;
        background: #415167;
        z-index: 49;
    }
}

@media (max-width: 1200px) and (min-width: 1100px)
{
    .header__logo {
        padding-left: 20px;
    }

    .image__img {
        width: 620px;
    }
    .image__mask {
        width: 620px;
    }

    .header__image {
        left: 22%;
    }

    .header__menu {
        width: 290px;
        height: 768px;
        min-width: 300px;
        background: #415167;
        z-index: 49;
    }
}

.menu__list li {
    margin-bottom: 20px;
  }

.menu__link {
    color: #EDF0F5;
}

/* --Features------------------------------------------------------- */

.features {
    padding-top: 87px;
}

.features__containter {
    display: block;
}

@media (min-width: 1300px) {
    .features__containter {
        display: block;
        max-width: 1240px;
    }
}

@media (min-width: 1500px) {
    .features__containter {
        display: block;
        max-width: 1350px;
    }
}

.features__title, .features__subtitle {
    text-align: center;
}

.features__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #415167;
}

.features__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 113%;
    color: #415167;
    padding-bottom: 47px;
}

.features__coffee {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 72px;   
}

.block__1, .block__2, .block__3 , .block__4 {
    padding: 10px;
}

@media (max-width:900px) {
    .features__coffee {
        flex-wrap: wrap;
    }
}

.text-title {
    padding: 40px 0px 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #232C38;
}

.text-subtitle {
    padding: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #151D28;
}

/*----Shop------------------------------------ */

.shop {
    margin-top: 200px;
}

.shop__container {
    display: block;
    max-width: 1190px;
    margin: 0px auto;
}

.shop__title, .shop__subtitle {
    text-align: center;
    padding-top: 6px;
}

.shop__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #415167;
}

.shop__mask {
    position: absolute;
    width: 384px;
    height: 894px;
    top: -100px;
    left: -200px;
    background: #415167;    

}

.shop__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 113%;
    /* identical to box height, or 113% */


color: #415167;
    padding-bottom: 72px;
}

.shop__products {
    z-index: 50;
    display: grid;
    grid-template-columns: repeat(2, 560px);
    grid-template-rows: repeat(2, 256px);
    gap: 20px;
}

@media (max-width: 1100px) {
    .shop__products {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .shop__mask {
        display: none;
    }
  }

@media (max-width:1300px) {
    .shop__arrow {
        display: none;
    }
}

@media (min-width:1300px) {
    .shop__arrow {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 100%;
        top: 55%;
    }
    .shop__arrow-link {
        height: 10px;
    }
    .shop__shadow_product_1, .shop__shadow_product_2 {
        width: 235.13px;
        height: 256px;
        left: 100%;
        top: 50%;
        opacity: 0.6;
    }

}

.products__1, .products__2, .products__3, .products__4 {
    display: flex;
    z-index: 49;
}

.products__1_image {
    position: relative;
}

.products__1_content, .products__2_content, .products__3_content, .products__4_content {
    width: 304px;
    padding: 30px 20px 20px 20px;
    background: #FFFFFF;
    z-index: 49;
}

.products__price {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    padding-bottom: 5px;


    color: #C7A17A;
}

.products__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #232C38;
    padding-bottom: 24px;

}

.products__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    padding-bottom: 40px;
}

.products__btn {
    display: inline-block;
    margin-right: 5px;
    padding-top: 5px;
    text-align: center;
    width: 134px;
    height: 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: #C7A17A;
    border-radius: 19px;
    color: #F9FBFF;
}

.products__ltext {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #415167;
}

/* -------Giftset-------------------------------- */

.giftset__container {
    display: block;
    max-width: 1190px;
    margin: 0px auto;
}

.giftset {
    padding-top: 200px;
}

.giftset__content_block {
    position: relative;
    left: 25%;
    width: 430px;
}

.giftset__title, .giftset__subtitle {
    position: relative;
    text-align: center;
    z-index: 49;
}

.giftset__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #415167;
    padding-bottom: 5px;
}

.giftset__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 113%;
    
    color: #415167;
}

.giftset__image-pic {
    position: relative;
    left: 5%;
    top: 50%;
    z-index: 49;
}

.giftset__mask {
    position: absolute;
    width: 1076px;
    height: 602px;
    left: -5%;
    top: -12%;
    background: #EDF0F5;
    z-index: 5;
}

.giftset__content {
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: 45;
    width: 749px;
    height: 410px;
    background: #FFFFFF;
    text-align: left;
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
}

@media (max-width:1150px) and (min-width:950px) {
    .giftset__content {
        width: 600px;
        height: 410px;
    }
    
    .giftset__image-pic {
        width: 430px;
    }
}

@media (max-width:950px) and (min-width:740px) {
    .giftset__content {
        position: relative;
        left: 15%;
        width: 550px;
        padding-right: 50px;
    }
    .giftset__image-pic {
        display: none;
    }
}

@media (max-width:740px) {
    .giftset__content {
        position: relative;
        left: 0%;
        width: 550px;
        padding-right: 50px;
    }
    .giftset__image-pic {
        display: none;
    }
}

.giftset__price {
    padding: 40px 20px 10px 25px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #C7A17A;
}

.giftset__ctitle {
    padding-right: 35px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    /* or 117% */
    color: #232C38;
    padding-bottom: 10px;
}

.giftset__text {
    padding-left: 20px;
}

.giftset__btn {
    display: inline-block;
    margin-right: 5px;
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    width: 134px;
    height: 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: #C7A17A;
    border-radius: 19px;
    color: #F9FBFF;
}

.giftset__ltext {
    margin-top: 20px;
    margin-left: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #415167;
}

.giftset__numbers {
    position: absolute;
    top: 0%;
    right: -75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.giftset__number_1, .giftset__number_2, .giftset__number_3 {
    padding-top: 50px;
    text-align: center;
    height: 135px;
    width: 88px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
    color: #415167;
    background: #FFFFFF;
    padding-bottom: 40px;
    box-shadow: 1px 0px 10px rgba(205, 205, 205, 0.5);
}

.giftset__number_2, .giftset__number_3 {
    mix-blend-mode: normal;
    z-index: 46;
    opacity: 0.3;
}

/* ---Combo ----------------------------- */

.combo__container {
    display: block;
    max-width: 1250px;
}

@media (min-width:1500px) {
    .combo__container {
        display: block;
        max-width: 1300px;
    }
}

.combo__title {
    margin-top: 100px;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #415167;
    padding-bottom: 5px;
}

.combo__subtitle {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 113%;
    color: #415167;
    padding-bottom: 30px;
}

.combo__products {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1200px) {
    .combo__mask {
        position: absolute;
        left: 80%;
        top: 0%;
        width: 386px;
        height: 906px;
        background: #415167;
    }    

}

@media (max-width:1200px) {
    .combo__products {
        flex-wrap: wrap;
        justify-content: center;
    }
    .combo__1_content, .combo__2_content, .combo__3_content {
        width: 349px;
    }
}

.combo__products__1, .combo__products__2, .combo__products__3, .combo__products__4 {
    display: block;
    padding: 5px 15px 20px 40px;
    z-index: 49;
}

.combo__1_image-pic, .combo__2_image-pic, .combo__3_image-pic {
    width: 349px;
    height: 349px;
}

.combo__1_image, .combo__2_image, .combo__3_image, .combo__4_image {
    width: 349px;
    height: 349px;
}

.combo__1_content, .combo__2_content, .combo__3_content {
    width: 349px;
    height: 213px;
    padding: 0px 20px 20px 20px;
    background: #FFFFFF;
    z-index: 49;
}

.combo__price {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    padding: 20px 10px;
    color: #C7A17A;
}

.combo__sale {
    padding-left: 10px;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;

    color: #415167;

}

.combo__ctitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    /* identical to box height, or 117% */
    
    color: #232C38;
    
    padding-bottom: 5px;
}

.combo__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
    padding-bottom: 40px;
}

.combo__btn {
    display: inline-block;
    margin-right: 55px;
    padding-top: 5px;
    text-align: center;
    width: 134px;
    height: 32px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: #C7A17A;
    border-radius: 19px;
    color: #F9FBFF;
}

.combo__ltext {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    color: #415167;
}

@media (min-width:1300px) {
    .gift__arrow {
        position: absolute;
        width: 48px;
        height: 48px;
        left: 100%;
        top: 55%;
        z-index: 48;
    }
    .gift__arrow-link {
        height: 10px;
        z-index: 48;
    }
}

@media (max-width:1300px) {
    .gift__arrow {
        display: none;
    }
}
