@import url(fonts.css);

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}

html, body {
    height: 100%;
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

._container {
    max-width: 1190px;
    padding: 0px 20px;
    margin: 0px auto;
}

/* -----Header------------------------------------- */

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.header {
    display: block;
}

.header__logo, .header__cart {
    padding-top: 74px;
    z-index: 50;
}

.header__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 130%;
    /* or 70px */
    z-index: 50;

    color: #415167;
}
.coffee__person {
    background: #C7A17A;
    color: #F9FBFF;
    padding: 5px 20px 5px 10px;
}
.header__image {
    width: 757px;
    height: 947px;
    top: 0%;
    left: 30%;
    background: url(img/main.png) no-repeat;
}
.menu__title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #EDF0F5;
    padding: 50px 0;
}

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 768px;
    background: #415167;
    z-index: 49;
}

.menu__link {
    color: #EDF0F5;
}

/* --Features------------------------------------------------------- */

.features__title {
    display: block;
    text-align: center;
}

.features__title_title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #415167;
}

.features__title_subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 113%;
    color: #415167;
}


.features__coffee {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 90px 0px;
    
}

.text-title {
    padding-top: 40px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #232C38;
}

.text-subtitle {
    padding: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #151D28;
}